{% extends "layout.html" %}

{% block title %}
Detailed Explanation for "{{ question.text }}"
{% endblock %}

{% block content %}
<!-- Display the detailed explanation text -->
<div class="guide-content"> <!-- Changed class to guide-content for targeted styling -->
    {% if detailed_explanation %}
        <p>{{ detailed_explanation|safe }}</p>
    {% else %}
        <p>No detailed explanation available for this question.</p>
    {% endif %}
</div>

<!-- Render Explanation Image if available -->
{% if question.explanation_image %}
    <div class="explanation-image">
        <img src="{{ question.explanation_image.url }}" alt="Explanation Image" class="standard-image"> <!-- Use .standard-image class -->
    </div>
{% endif %}
{% endblock %}

