{% extends "layout.html" %}

{% block title %}
Practice Quiz
{% endblock %}

{% block content %}
    <h1>{{ quiz.title }}</h1>
    <form method="post">
        {% csrf_token %}
        {% for question in questions %}
            <div>
                <p>{{ question.text }}</p>
                <label><input type="radio" name="question_{{ question.id }}" value="{{ question.option1 }}"> {{ question.option1 }}</label><br>
                <label><input type="radio" name="question_{{ question.id }}" value="{{ question.option2 }}"> {{ question.option2 }}</label><br>
                <label><input type="radio" name="question_{{ question.id }}" value="{{ question.option3 }}"> {{ question.option3 }}</label><br>
                <label><input type="radio" name="question_{{ question.id }}" value="{{ question.option4 }}"> {{ question.option4 }}</label><br>
            </div>
        {% endfor %}
        <button type="submit">Submit</button>
    </form>
{% endblock %}


