{% extends "layout.html" %}

{% block title %}
Quiz Question Detail
{% endblock %}

{% block content %}
<h1>{{ quiz.title }}</h1>
<h2>{{ question.text }}</h2>
{% for image in question.images.all %}
    <img src="{{ image.image.url }}" alt="Question Image" class="question-image">
    <p>Image URL: <a href="{{ image.image.url }}">{{ image.image.url }}</a></p> <!-- Debug statement -->
{% endfor %}
{% for chart in question.charts.all %}
    <img src="{{ chart.chart.url }}" alt="Question Chart" class="question-chart">
    <p>Chart URL: <a href="{{ chart.chart.url }}">{{ chart.chart.url }}</a></p> <!-- Debug statement -->
{% endfor %}
<div class="options">
    <label>
        <input type="radio" name="selected_option" value="option1"> {{ question.option1 }}
    </label><br>
    <label>
        <input type="radio" name="selected_option" value="option2"> {{ question.option2 }}
    </label><br>
    <label>
        <input type="radio" name="selected_option" value="option3"> {{ question.option3 }}
    </label><br>
    <label>
        <input type="radio" name="selected_option" value="option4"> {{ question.option4 }}
    </label><br>
</div>
<button type="submit">Submit</button>
{% endblock %}
